
/* Footer part start */
footer{
    background-color:rgb(67, 124, 230);
    height:auto;
    width:auto;
    text-align: center;
    color:white;
}
.footvar{
    font-size:10px;
}
.icon{
    margin-bottom:25px;
}
.footer-container{
    margin-top: 30px;
    padding: 8px;
}

